[
 {quic, [
    {dist, [
        {cert_file, <<"/Users/benoitc/Projects/erlang-mycelium/examples/chat/data/quic/node.crt">>},
        {key_file,  <<"/Users/benoitc/Projects/erlang-mycelium/examples/chat/data/quic/node.key">>},
        {discovery_module, mycelium_quic_discovery},
        {nodes, [
            {'seed@MBPdeBenoit4121', {"127.0.0.1", 9100}}
        ]}
    ]}
 ]}
].
