[
    {mycelium, [
        {active_size, 3},
        {passive_size, 10},
        {shuffle_period, 5000},
        {listen_port, 9100},
        {contact_nodes, []}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                formatter => {logger_formatter, #{
                    template => [time, " ", level, " ", msg, "\n"]
                }}
            }}
        ]}
    ]}
].
