[{mycelium, [
    %% HyParView parameters
    {active_size, 5},
    {passive_size, 30},
    {arwl, 6},
    {prwl, 3},
    {shuffle_length, 8},
    {shuffle_period, 10000},

    %% Distribution port (used by dist carrier)
    {listen_port, 0},  %% 0 = random port

    %% Contact nodes for bootstrap
    {contact_nodes, []}
]}].
